
#searchBar{
	height:70px;
	width:500px;
	background-color:white;
	text-align:center;
	font-size:35px;
	color:#909090;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 10px;
	margin:20px;
	position:relative;
	border: 1px solid transparent;
    transition: box-shadow 0.3s ease-in-out;
}

#searchBar:focus{
	outline:none;
	box-shadow:0 10px 16px 0 #8470ff,0 6px 20px 0 #8470ff;
    transition: box-shadow 0.3s ease-in-out;
}

#grid {
	margin: 0 auto;
	display:grid;
    grid-template-columns: repeat(auto-fit, minmax(780px, 1fr));
	padding: 10px;
	grid-row-gap: 40px;
	justify-items: center;
}

.movieCards {
	font-family:Tahoma;
	font-size: 24px;
	color:#909090;
	box-shadow:0 0px 15px gray;
    transition: box-shadow 0.3s ease-in-out;
	width:780px;
	height:439px;

}

#nullImage {
	position: absolute;
}

.movieCards:hover {
	overflow:scroll;
	box-shadow:0 10px 16px 0 #8470ff,0 6px 20px 0 #8470ff;
    transition: box-shadow 0.3s ease-in-out;
}

.movieCards > p{
	padding: 10px;
}

.movieCards:hover .movieTitle, .movieCards:hover .movieDetail, .movieCards:hover .movieDesc, .movieCards:hover .movieTitle {
	position:static;
  	opacity: 1;
}

.movieCards:hover .movieBackdrop {
	position:absolute;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.movieBackdrop {
	position:static;
	opacity:1;
	width:780px;
	height:439px;
}

.movieTitle {
	font-size: 30px;
	color: black;
    position:absolute;
    opacity: 0;
    transition: opacity 0s linear;
}

.movieDetail{
	font-size: 20px;
	color: black;
	position:absolute;
    opacity: 0;
    transition: opacity 0s linear;
}

.movieDesc {
	font-size: 22px;
	position:absolute;
    opacity: 0;
    transition: opacity 0s linear;
}
